@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap');

.navbar {
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 100;
  font-size: 1.2rem;
}
  
  .logo a {
    color: #fff;
    text-decoration: none;
    font-size: 2rem;
  }
  
  .nav-links {
    display: flex;
    justify-content: space-between;
    list-style: none;
  }
  
  .nav-links li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    transition: all 0.3s ease-in-out;
  }
  
  .nav-links li a:hover {
    background-color: #fff;
    color: #000;
  }
  
  .cart a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  
  .cart i {
    margin-right: 10px;
  }