<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p>&copy; 2023 Mon entreprise</p>
        </div>
        <div class="col-md-6">
          <ul class="nav justify-content-end">
            <li class="nav-item">
              <a class="nav-link" href="#">Politique de confidentialité</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Conditions d'utilisation</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
